<div>
    <div class="menu-wrap">
        <input type="checkbox" name="toggler" id="toggler" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li v-for="(item, index) in menusArray" v-bind:key="index">
                            <a v-bind:href="item.urls">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="showcase">
        <div class="container showcase-inner">
            <h1>Selamat Datang</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, obcaecati repellendus ratione,
                consectetur, incidunt doloremque minus maiores eveniet officiis expedita autem? Possimus ipsam, magnam
                est tempora a illo quasi consequuntur.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</div>